* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

}

.rect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
